.match-select {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 40, 0.5, 10, 10);
}

.menu-button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.match-select-container {
    /*-fx-background-image: url(/resources/images/play/play_background.jpg);*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-size: cover;*/
    -fx-background-color: #272A35;
}

* {
    font-family: "Bahnschrift";
}

.death-match {
    -fx-background-image: url(/client/resources/images/play/play_mode_sandbox.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.game-select {
    -fx-effect: dropshadow(three-pass-box, black, 4, 0.8, 3, 3);
    -fx-padding: 400 0 0 0;
}

.capture-the-flag {
    -fx-background-image: url(/client/resources/images/play/collecting-flags.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.multi-flag-mode {
    -fx-background-image: url(/client/resources/images/play/gate_010.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.extra-mode {
    -fx-background-image: url(/client/resources/images/play/play_mode_arenagauntlet.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.choose-game-title {
    -fx-pref-width: 300;
    -fx-alignment: center;
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 1, 1);
}

.game-select:hover {
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.5, 5, 5);
}


.story-mode {
    -fx-background-image: url(/client/resources/images/play/play_mode_rankedladder@2x.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.custom-game {
    -fx-background-image: url(/client/resources/images/play/play_mode_rift.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.single-player {
    -fx-background-image: url(/client/resources/images/play/play_mode_rankedladder@2x.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}

.multi-player {
    -fx-background-image: url(/client/resources/images/play/play_mode_arenagauntlet.jpg), url(/client/resources/images/play/game-select-plate.png);
    -fx-background-size: 300 560, 300 62;
    -fx-background-position: center, 0 560;
    -fx-background-repeat: no-repeat, no-repeat;
}