* {
    -fx-font-family: "Bahnschrift";
}

.shop-container {
    -fx-background-image: url(/client/resources/images/scenes/login-background.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: top center;
}

.round-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;
}

.round-button:hover {
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.5), 20, 0.3, -5, -5);
}

.round-button-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 70px;
    -fx-text-alignment: center;
}

.shop-button {
    -fx-background-image: url(/client/resources/images/buttons/armory@2x.png);
}

.profile-button {
    -fx-background-image: url(/client/resources/images/buttons/profile@2x.png);
}

.quests-button {
    -fx-background-image: url(/client/resources/images/buttons/quests@2x.png);
}

.menu-button {
    -fx-text-fill: #DDD;
    -fx-font-size: 35px;
    -fx-background-color: transparent;
}

.menu-button:hover {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.7), 40, 0.6, 0, 0);
}

.exit-button {
    -fx-background-image: url(/client/resources/images/buttons/exit.png);
}

.drakes {
    -fx-background-image: url(/client/resources/images/shop/shop-drake.png),
    url(/client/resources/images/shop/drake.png);
    -fx-background-size: 180 73, 50 50;
    -fx-background-repeat: no-repeat, no-repeat;
    -fx-background-position: center, 30 15;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-pref-width: 180;
    -fx-pref-height: 73;
    -fx-padding: 8 0 0 40;
}