.shop-card-container {
    -fx-padding: 15;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 10;
}


.match-select-container {
    /*-fx-background-image: url(/resources/images/play/play_background.jpg);*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-size: cover;*/
    -fx-background-color: #272A35;
}


.inner-container {
    -fx-background-color: transparent;
}

.watch-button {
    -fx-background-image: url(/client/resources/images/buttons/button_icon_right@2x.png);
    -fx-background-color: blue;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
}

.watch-button:hover {
    -fx-background-image: url(/client/resources/images/buttons/button_icon_right_glow@2x.png);
}