.battle-container {
    -fx-background-image: url(/resources/images/battle/battlemap5_background@2x.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.game-board {}

.empty-cell {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.empty-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

* {
    -fx-font-family: "Bahnschrift";
}

.end-turn-button {
    -fx-background-image: url(/resources/images/battle/ui/button_end_turn_mine.png);
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 23;
    -fx-padding: 0 10 0 0;
    -fx-font-weight: bold;
    -fx-pref-width: 255;
    -fx-pref-height: 102;
    /*-fx-effect: dropshadow(three-pass-box, black, 10, 0.8, 1, 1);*/
}

.end-turn-button:hover {
    -fx-background-image: url(/resources/images/battle/ui/button_end_turn_mine_glow.png);
}

.end-turn-button:disabled {
    -fx-background-image: url(/resources/images/battle/ui/button_end_turn_enemy.png);
}

.graveyard-container {
    -fx-background-image: url(/resources/images/battle/ui/graveyard.png);
    -fx-pref-width: 150;
    -fx-pref-height: 500;
}