.battle-container {
    -fx-background-image: url(/resources/images/battle/battlemap5_background@2x.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.game-board {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}