.shop-container {
    -fx-background-image: url(/resources/background-blur.jpg);
    -fx-background-size: cover;
}

.btn-primary {
    -fx-background-color: #f36f20;
}

.btn-lg {
    -fx-padding: 1em 3em;
    -fx-font-size: 3em;
    -fx-border-radius: 0.3em;
    -fx-font-weight: bold;
    -fx-pref-width: 420;
}

* {
    -fx-font-family: "Bahnschrift";
}

.check-box {
    -fx-font-size: 15;
    -fx-text-fill: #666;
    -jfx-checked-color: #F57B20;
    -jfx-unchecked-color: #F57B20;
}

.btn-sm {
    -fx-padding: 0.25em 0.5em;
    -fx-font-size: 0.75em;
    -fx-border-radius: 0.2em;
}


.input-text {
    -fx-font-size: 25;
    -fx-text-fill: #ffffff;
    -fx-background-color: #383838;
    -fx-pref-height: 40;
    -fx-pref-width: 320;
}

.input-text:focused .input-text:hover {
    -fx-background-color: #434343;
}

.wrong {
    -jfx-focus-color: #FF0000;
    -jfx-unfocus-color: #FF0000;
}

.tab-header-background {
    -fx-background-color: #383838;
}

.tab-header-area {
    -fx-padding: 0 -150 0 150;
}

.tab-pane {
    -fx-background-color: #292929;
    -fx-text-alignment: center;
    -fx-pref-width: 500;
    -fx-max-width: 500;
}

.duelystTab {
    -fx-padding: 15;
}

.tab-items {
    -fx-padding: 40px;
}

.duelystTab:selected {
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
}

.text-field-container {
    -fx-background-color: #292929;
}

.label {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
    -fx-pref-height: 48;
}

.thumb {
    -fx-background-color: #292929;
}

.track {
    -fx-background-color: rgba(29, 29, 29, 0.6);
}

.increment-button {
    -fx-background-color: rgba(29, 29, 29, 0.8);
}

.decrement-button {
    -fx-background-color: rgba(29, 29, 29, 0.8);
}

.header-label {
    -fx-background-color: #646464;
    -fx-pref-width: 800;
    -fx-pref-height: 400;
    -fx-alignment: center;
}

.duelystTab {
    -fx-padding: 15;
}

.tab-items {
    -fx-padding: 40px;
}

.duelystTab:selected {
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
}

.tab-header-background {
    -fx-background-color: #383838;
}

.tab-header-area {
    -fx-padding: 0 -150 0 150;
}

.tab-pane {
    -fx-background-color: #292929;
    -fx-text-alignment: center;
    -fx-pref-width: 500;
    -fx-max-width: 500;
}

.container-account-menu {
    -fx-background-image: url(/resources/images/scenes/login-background.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: top center;
}

.btn-primary {
    -fx-background-color: #f36f20;
}

.btn-lg {
    -fx-padding: 1em 3em;
    -fx-font-size: 1em;
    -fx-border-radius: 0.3em;
    -fx-font-weight: bold;
    -fx-pref-width: 420;
}

* {
    -fx-font-family: "Bahnschrift";
}

.check-box {
    -fx-font-size: 15;
    -fx-text-fill: #666;
    -jfx-checked-color: #F57B20;
    -jfx-unchecked-color: #F57B20;
}

.btn-sm {
    -fx-padding: 0.25em 0.5em;
    -fx-font-size: 0.75em;
    -fx-border-radius: 0.2em;
}


.input-text {
    -fx-font-size: 25;
    -fx-text-fill: #ffffff;
    -fx-background-color: #383838;
    -fx-pref-height: 40;
}

.input-text:focused .input-text:hover {
    -fx-background-color: #434343;
}

.wrong {
    -jfx-focus-color: #FF0000;
    -jfx-unfocus-color: #FF0000;
}

.tab-header-background {
    -fx-background-color: #383838;
}

.tab-header-area {
    -fx-padding: 0 -150 0 150;
}

.tab-pane {
    -fx-background-color: #292929;
    -fx-text-alignment: center;
    -fx-pref-width: 500;
    -fx-max-width: 500;
}

.duelystTab {
    -fx-padding: 15;
}

.tab-items {
    -fx-padding: 40px;
}

.duelystTab:selected {
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
}
