.match-select {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 40, 0.5, 10, 10);
}

.menu-button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.container {
    -fx-background-color: #272A35;
}

* {
    font-family: "Bahnschrift";
}

.death-match {
    -fx-background-image: url(/resources/play/play_mode_sandbox.jpg);
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
    -fx-background-size: cover;
    -fx-background-position: center;
}