.container {
    -fx-background-image: url("/resources/play/play_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.matchSelect:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.7), 40, 0.6, 0, 0);
}

.menu-button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}