.shop-container {
    -fx-background-image: url(/resources/background-blur.jpg);
    -fx-background-size: cover;
}

.shop-search {
    -fx-pref-width: 300px;
    -fx-background-radius: 30px;
    -fx-padding: 20px;
    -fx-border-width: 0px;
    -fx-font-size: 15;
    -fx-text-fill: #DCDCDC;
    -fx-background-color: #0C1022;
    -fx-effect: None;
    -fx-background-image: url(/resources/search-icon.png);
    -fx-background-size: 35 35;
    -fx-background-position: 250 10;
    -fx-background-repeat: no-repeat;
    -fx-prompt-text-fill: #999;
}

.cardsPane {
    -fx-pref-width: 200px;
    -fx-pref-height: 300px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.card-pane {
    -fx-background-image: url(/resources/craftable_spell@2x.png);
    -fx-pref-width: 200;
    -fx-pref-height: 262;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.card-pane:hover {
    -fx-background-image: url(/resources/reveal_glow_spell@2x.png);
    -fx-background-size: cover;
}

.card-name-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

* {
    -fx-font-family: "Bahnschrift";
}
