.shop-container {
    -fx-background-image: url(/resources/background-blur.jpg);
    -fx-background-size: cover;
}

.shop-search {
    -fx-pref-width: 300px;
    -fx-background-radius: 30px;
    -fx-padding: 20px;
    -fx-border-width: 0px;
    -fx-font-size: 15;
    -fx-text-fill: #DCDCDC;
    -fx-background-color: #0C1022;
    -fx-effect: None;
    -fx-background-image: url(/resources/images/shop/search-icon.png);
    -fx-background-size: 35 35;
    -fx-background-position: 250 10;
    -fx-background-repeat: no-repeat;
    -fx-prompt-text-fill: #999;
}

.cardsPane {
    -fx-pref-width: 200px;
    -fx-pref-height: 300px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.card-pane {
    -fx-pref-width: 200;
    -fx-pref-height: 262;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.attacker-pane {
    -fx-background-image: url(/resources/images/shop/craftable_unit@2x.png);
}

.shop-card-health {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.shop-card-power {
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.attacker-pane:hover {
    -fx-background-image: url(/resources/images/shop/neutral_prismatic_unit@2x.png);
}

.spell-pane {
    -fx-background-image: url(/resources/images/shop/craftable_spell@2x.png);
}

.spell-pane:hover {
    -fx-background-image: url(/resources/images/shop/neutral_prismatic_spell@2x.png);
}

.card-name-label {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.card-type-label {
    -fx-text-fill: white;
    -fx-font-size: 13;
}

* {
    -fx-font-family: "Bahnschrift";
}

.shop-card-container {
    -fx-padding: 15;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 10;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.inner-container {
    -fx-background-color: transparent;
}

.shop-filter-label {
    -fx-font-size: 25px;
    -fx-background-color: transparent;
    -fx-text-fill: #ddd;
}

.shop-filter-label:hover {
    -fx-text-fill: white;
}

.selected, .selected:hover {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.7), 30, 0.7, 0, 0);
}

.btn-primary {
    -fx-background-color: #f36f20;
}

.btn-lg {
    -fx-padding: 1em 3em;
    -fx-font-size: 18px;
    -fx-border-radius: 0.3em;
    -fx-font-weight: bold;
    -fx-pref-width: 300px;

}

.drakes {
    -fx-background-image: url(/resources/images/shop/shop-drake.png),
    url(/resources/images/shop/drake.png);
    -fx-background-size: 180 73, 50 50;
    -fx-background-repeat: no-repeat, no-repeat;
    -fx-background-position: center, 30 15;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-pref-width: 180;
    -fx-pref-height: 73;
    -fx-padding: 8 0 0 40;
}

.custom-card {
    -fx-pref-width: 200;
    -fx-pref-height:75;
    -fx-background-color: yellow;
    -fx-font-family: "Bahnschrift";
    -fx-font-width: bold;
    -fx-font-size: 18;
}